src/main/mule/mule-authentication-methods.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="20c285b7-d2ba-487b-b8d8-f3612e6e40e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-authentication-methods-flow" doc:id="66dbd1d7-6c4a-4139-9997-38c1981419bd" >
		<http:listener doc:name="/mule-auth" doc:id="e912544e-a1bb-4753-9a81-18d319bdf790" path="/mule-auth" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Request In" doc:id="a7198f97-cbfe-4afb-ab51-70fb65218a26" message='#["Request In"]'/>
		<ee:transform doc:name="Transform Response Message" doc:id="38feb884-62a6-465d-8aac-5e0f96046520" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Hello from mule authentication method app project: @ " ++ now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Response out" doc:id="4e6bda6b-291f-4cc1-bf8a-3d2dc0331472" message='#["Response out @" ++ write(payload, "application/json")]'/>
	</flow>
</mule>
